@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: ProximaNova;
    src: url(fonts/proxima-nova.otf);
}
@font-face {
    font-family: FuturaPT-Book;
    src: url(fonts/futura-pt-book.otf);
}

@font-face {
    font-family: SFUIText;
    src: url(fonts/sf-ui-text-regular.ttf);
}

body
{
	background-color:#f3f8fa !important;
}
a:hover{text-decoration:none;}
.section_header {
  width:100%;
  height: 59px;
  background-color: #4693bb;
  box-shadow: 0 2px 4px 0 rgba(81, 87, 101, 0.5);
}
.login_container
{
	margin-top:66px !important;
	margin:0 auto;
	text-align:center; 
}
.login_container .content
{
	background:#fff;
	float:left;
	 max-width:525px;
	width:100%;
  height: 567px;
  border-radius: 13px;
  background-color: #ffffff;
  text-align:center;margin-bottom:115px;
}
.logo{ float:left; width:100%; text-align:center;  padding-top:35px;}
.logo img{
  width: 135px;
  height: 100px;

}
.login_container .form-control
{
max-width: 322px;
    width: 100%;
    height: 50px;
    border-radius: 14px;
    border: solid 1px #4693bb;
    margin: 20px auto;
}
.login_container form
{
    float: left;
    width: 100%;
    position: relative;
}
.btn_form{
    max-width: 322px;
    height: 50px;
    border-radius: 14px;
    background-color: #2f607a;
    border: none;
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
    width: 100%; cursor:pointer;
}
input[type="text"],input[type="password"],input[type="email"]
{

  font-family: ProximaNova;
  font-size: 20px;
  letter-spacing: -0.2px;
  color: #515765;
  color: var(--slate-grey);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
.iugo-care {
 height: 45px;
    font-family: FuturaPT-Book;
    font-size: 35px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #515865;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    float: left;
    width: 100%;
    margin-top: 10px;
}
.forgot-password
{
margin-bottom: 10px;
    margin-top: 35px;
}
.forgot-password a
{
  width: 155px;
  height: 24px;
  font-family: ProximaNova;
  font-size: 20px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #4693bb;
}
.forgot-password-below
{

margin-top: 15px;
}
.forgot-password-below a
{
  width: 155px;
  height: 24px;
  font-family: ProximaNova;
  font-size: 20px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #4693bb;
}
.dont-have-an-accoun {
  font-family: ProximaNova;
  font-size: 20px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #515865;
  margin-top:30px;
}

.verification-login .content
{
	min-height:595px;
}
.verification-login .btn_form
{
	margin-top:15px;
}
.verification-login .dont-have-an-accoun{ margin-top:12px;}
.dont-have-an-accoun .text-style-1 {
  font-weight: bold;
  color: #4693bb;
}
.create_account 
{
	 max-width: 775px;
	 width:100%; padding:0px;
}
.create_account .account-content
{
  padding-top:35px;
  width:100%;
  min-height: 602px;
  border-radius: 13px;
  background-color: #ffffff; margin-bottom:75px;
}
.create_account .account-content h1
{
  height: 45px;
  font-family: FuturaPT-Book;
  font-size: 35px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #515865;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
}
.create_account .account-content .container
{
	padding-left:44px; padding-right:44px;
}
.prefix
 {
    max-width: 116px !important;
    width: 100% !important;
    float: left;
}
.name-input
{
  max-width: 260px !important;
  width:100% !important;  float: left;
}
.pro-title
{
  max-width: 322px !important;
  width:100% !important;  float: left;
}
.care-center
{
   max-width: 322px !important;
    width:100% !important;  float: left;    margin-right: 0px !important;
}
.phone-num1
{
	  width:100% !important;
   max-width: 84px !important;	  float: left;    margin-right: 16px !important;
}
.phone-num2
{
	  width:100% !important;
   max-width: 84px !important;  float: left;    margin-right: 16px !important;
}
.phone-num3
{
    width: 100% !important;
    max-width: 111px !important;
    float: left;
    margin-right: 38px !important;
}
.email-addr
{
	  width:100% !important;
   max-width: 322px !important;  float: left;
	
}
.create_account .form-control
{
    margin-right: 25px;
    margin: 10px 25px 10px 0px;	
}
.name-input:nth-child(3)
{
	margin-right:0px;
}
.profile-pic
{
    object-fit: contain;
    font-family: SFUIText;
    font-size: 12.8px;
    letter-spacing: -0.3px;
    text-align: left;
    color: #515765;
    color: var(--slate-grey);
    margin-bottom: 20px;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 10px;
    text-align: center;text-decoration:underline;
}
.text-phone
{
    height: 22px;
    opacity: 0.6;
    font-family: ProximaNova;
    font-size: 18px;
    letter-spacing: -0.1px;
    color: var(--slate-grey);
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 60px;
}
@media screen and (max-width: 991px) {
   .name-input {
    max-width: 205px !important;
    width: 100% !important;
    float: left;
}
.pro-title {
    max-width: 270px !important;
    width: 100% !important;
    float: left;
}
.care-center {
    max-width: 247px !important;
    width: 100% !important;
    float: left;
    margin-right: 0px !important;
}
.phone-num1 {
    width: 100% !important;
    max-width: 75px !important;
    float: left;
    margin-right: 16px !important;
}
.phone-num3 {
    width: 100% !important;
    max-width: 89px !important;
    float: left;
    margin-right: 23px !important;
}
.care-center {
    max-width: 247px !important;
    width: 100% !important;
    float: left;
    margin-right: 0px !important;
}
}
@media screen and (max-width: 991px) {
	.create_account .account-content {
		height: auto;
		float: left;
		padding-bottom: 25px;
	}
	.create_account .form-control
	{
		max-width: 100% !important;
	}
	.create_account .account-content h1{ font-size:22px;}
	.create_account .account-content .container {
    padding-left: 15px;
    padding-right: 15px;
}
}